{% extends "artista/base.html" %}
 
{% block title %}Add New Songs Records{% endblock title %}
 
{% block content %}
<div class="col-md-12">
    <h4>MUSIC</h4>  
 <form method="POST" class="post-form" action="/update/{{song.id}}">  
   {% csrf_token %}  
  <div class="container">  
 <br>  
  <div class="form-group row">  
  <label class="col-sm-1 col-form-label"></label>  
  <div class="col-sm-4">  
  <h3>Actualizar registro</h3>  
  </div>  
   </div>  
  <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Registro Id:</label>  
  <div class="col-sm-4">  
   <input type="text" class="form-control" name="id" id="id_id" required maxlength="20" value="{{ song.id }}"/>  
  </div>  
   </div>  
   <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Nombre Especie:</label>  
  <div class="col-sm-4">  
   <input type="text" class="form-control" name="name" id="id_name" required maxlength="100" value="{{ song.especie }}" />  
  </div>  
   </div>  

  <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Lugar:</label>  
  <div class="col-sm-4">  
   <input type="text" class="form-control" name="album" id="id_album" required maxlength="100" value="{{ song.lugar }}" />  
  </div>   
   </div>  

  <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Región:</label>  
  <div class="col-sm-4">  
   <input type="text" class="form-control" name="artista" id="id_artista" required maxlength="100" value="{{ song.region }}" />  
  </div>  
   </div> 

   <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Link:</label>  
  <div class="col-sm-4">  
   <input type="text" class="form-control" name="year" id="id_year" required maxlength="100" value="{{ song.link }}" />  
  </div>  
   </div> 

   <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Ubicación:</label>  
  <div class="col-sm-4">  
   <input type="text" class="form-control" name="genero" id="genero" required maxlength="100" value="{{ song.ubicacion }}" />  
  </div>  
   </div>  

  <div class="form-group row">  
  <label class="col-sm-1 col-form-label"></label>  
  <div class="col-sm-4">  
  <button type="submit" class="btn btn-success btn-lg">Actualizar</button>  
  </div>  
   </div>  
  </div>  
 </form>  
{% endblock content %}  