{% extends "artista/base.html" %}
 
{% block title %}Add New Song{% endblock title %}
 
{% block content %}
<div class="col-md-12">
    <h4>Reporte de especies</h4> 
         
 <form method="POST" class="post-form" action="/addnew">  
   {% csrf_token %}  
  <div class="container">  
 <br>  
  <div class="form-group row">  
  <label class="col-sm-1 col-form-label"></label>  
  <div class="col-sm-4">  
  <h3>Ingrese Reporte</h3>  
  </div>  
   </div>  
   
   <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Especie:</label>  
  <div class="col-sm-4">  
    {{ form.especie }}  
  </div>  
   </div>  
  <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Lugar:</label>  
  <div class="col-sm-4">  
    {{ form.lugar }}  
  </div>  
   </div>  
  <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Region:</label>  
  <div class="col-sm-4">  
    {{ form.region }}  
  </div>  
   </div>  

   <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Link:</label>  
  <div class="col-sm-4">  
    {{ form.link }}  
  </div>  
   </div>  

   <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Link Ubicacion:</label>  
  <div class="col-sm-4">  
    {{ form.ubicacion }}  
  </div>  
   </div>  

  <div class="form-group row">  
  <label class="col-sm-1 col-form-label"></label>  
  <div class="col-sm-4">  
  <button type="submit" class="btn btn-primary">Submit</button>  
  </div>  
   </div>  
  </div>  
 </form>  
</div> 
{% endblock content %} 