{% extends "base.html" %}
 
{% block title %}Song Records{% endblock title %}
 
{% block content %}
 <div class="col-md-12">
        {% comment %} <h4>Song List</h4> <span><a href="/addnew2" class="btn btn-primary">Add New Record</a></span>   {% endcomment %}
        <div class="table-responsive">
            <form method="POST">
                {% csrf_token %}
            Desde: <input type="date" name='desdefecha'/>
            Hasta: <input type="date" name='hastafecha'/>
            Cantidad de resultados: <input type="number" name='limitador'/>
            <input type='submit' value='Buscar'>
            <hr/>

            <table id="example" class="display nowrap" style="width:100%">
                <tr>
                    
                    <th>Artista</th>
                    <th>Reproducciones</th>
                </tr>
                {% for t in data %}
                <tr>
                    
                    <td>{{t.artista}}</td>
                    <td>{{t.total}}</td>
                </tr>

                {% endfor %}
            
            </table>
            </form>
                
        </div>
    </div>
{% endblock content %}