{% extends "usuario/base.html" %}
 
{% block title %}Especies{% endblock title %}
 
{% block content %}
<body style="background: url(https://www.teahub.io/photos/full/291-2913285_animals-pumas-wallpaper-hd-puma-wallpaper-4k-animal.jpg); background-size: cover; background-repeat: no-repeat; position: relative;">
 <div class="col-md-12" >
        <h4 class="text-center p-3 text-light" style="font-size: 400%">Reportes de Especies</h4> <span><a href="/addnew2" class="btn btn-primary btn-lg">Ingresar Reporte</a></span> 
        <div class="table-responsive">
            <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
                <thead class='text-center text-light' style="font-size: 200%;">
                    
                    <th>Especie</th>
                    <th>Lugar</th>
                    <th>Region</th>
                    <th>Link</th>
                    <th>Ubicacion</th>
                    
                 </thead>
       <tbody>
       {% for report in reports %}  
        <tr class='text-center text-light' style="font-size: 200%;">  
         
         <td>{{ report.especie }}</td>  
         <td>{{ report.lugar }}</td>  
         <td>{{ report.region }}</td> 
         <td><a href="{{report.link}}" target="_blank" class="btn btn-primary">Abrir</a></td>
         <td><a href="{{report.ubicacion}}" target="_blank" class="btn btn-primary">Abrir</a></td>
    
    
        </tr>  
       {% endfor %} 
       </tbody>
             
      </table>
        </div>
    </div>
</body>
{% endblock content %}