{% extends "playlist/base.html" %}
 
{% block title %}Song Records{% endblock title %}
 
{% block content %}
 <div class="col-md-12">
        <h4>Ingrese su usuario para ver su playlist</h4>
        <div class="table-responsive">
            <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
                <thead>
                    
                    
                    <th>User</th>
                    <th>Cancion</th>
                    <th>Genero</th>
                    
                 </thead>
       <tbody>
       {% for song in songs %}  
        <tr>  
         
         
         <td>{{ song.user }}</td>    
         <td>{{ song.name }}</td>
         <td>{{ song.genero}}</td>  
         
    
    
        </tr>  
       {% endfor %} 
       </tbody>
             
      </table>
        </div>
    </div>
{% endblock content %}